In [ ]:
!pip install sovai[full]

## Government Spending

In [2]:
import sovai as sov
sov.token_auth(token="visit https://sov.ai/profile for your token")

#### Processed Dataset

In [3]:
df_contracts = sov.data("spending/contracts",verbose=True)

/spending/contracts
Requesting URL: https://data.sov.ai/spending/contracts with params: {'parquet': 'True', 'full_history': 'False'}
Response Status: 200
Response Content-Type: application/json
tickers is None
{'parquet': 'True', 'full_history': 'False'}
tickers is:
All ticker Initialized
Attempting URL 1: https://s3.wasabisys.com/sovai-government/postprocessed/df_awards_latest.parquet?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=KI07G4DK9XP5EC0NH1VU%2F20241031%2Fus-east-1%2Fs3%2Faws4_request&X-Amz-Date=20241031T153736Z&X-Amz-Expires=3600&X-Amz-SignedHeaders=host&X-Amz-Signature=32016d9d03f008b320baeec0f3d51038e1c100fb920380f68024264fc878fba1 (download link)
Successfully downloaded data from URL 1
It reached the DF
It passed the DF

In [6]:
df_transactions = sov.data("spending/transactions", start_date="2008-03-30", tickers=["MSFT","TSLA"])

In [7]:
df_transactions.tail()

                             contract_transaction_unique_key  \
ticker date
TSLA   2023-10-02  9700_9700_SPE7LX24F0359_0_SPE7LX22D0144_0
       2023-10-02  9700_9700_SPE7LX24F0120_0_SPE7LX22D0144_0
       2023-10-02  9700_9700_SPE7LX24F0286_0_SPE7LX22D0144_0
       2023-10-03  9700_9700_SPE7LX24F0559_0_SPE7LX22D0144_0
       2023-10-04  9700_9700_SPE7LX24F0835_0_SPE7LX22D0144_0

                   federal_action_obligation          transaction_description  \
ticker date
TSLA   2023-10-02                   8526.630  8510186794!BATTERY POWER SUPPLY
       2023-10-02                   6992.460   8510185077!BATTERY POWER SUPPL
       2023-10-02                   6992.460   8510185827!BATTERY POWER SUPPL
       2023-10-03                   8526.630  8510189365!BATTERY POWER SUPPLY
       2023-10-04                  34106.520  8510192842!BATTERY POWER SUPPLY

                                        contract_award_unique_key  \
ticker date
TSLA   2023-10-02  CONT_AWD_SPE7LX24F0359_9700_SPE7LX22D0144_9700
       2023-10-02  CONT_AWD_SPE7LX24F0120_9700_SPE7LX22D0144_9700
       2023-10-02  CONT_AWD_SPE7LX24F0286_9700_SPE7LX22D0144_9700
       2023-10-03  CONT_AWD_SPE7LX24F0559_9700_SPE7LX22D0144_9700
       2023-10-04  CONT_AWD_SPE7LX24F0835_9700_SPE7LX22D0144_9700

                  last_modified_date
ticker date
TSLA   2023-10-02         2023-10-02
       2023-10-02         2023-10-02
       2023-10-02         2023-10-02
       2023-10-03         2023-10-03
       2023-10-04         2023-10-04

In [9]:
df_product = sov.data("spending/product", tickers=["MSFT","TSLA"])

In [10]:
df_product.head()

,ticker,contract_award_unique_key,product_or_service_code_description,naics_code,naics_description,country_of_product_or_service_origin,place_of_manufacture,epa_designated_product,recovered_materials_sustainability
0,TSLA,CONT_AWD_SPE7LX20F345T_9700_SPE7LX18D0042_9700,"CONVERTERS, ELECTRICAL, NONROTATING",335999.000,ALL OTHER MISCELLANEOUS ELECTRICAL EQUIPMENT A...,UNITED STATES,MFG IN U.S.,NOT REQUIRED,NO CLAUSES INCLUDED AND NO SUSTAINABILITY INCL...
1,MSFT,CONT_AWD_0018_2800_SS001360014_2800,IT AND TELECOM- OTHER IT AND TELECOMMUNICATIONS,541512.000,COMPUTER SYSTEMS DESIGN SERVICES,None,NOT A MANUFACTURED END PRODUCT,NOT REQUIRED,NO CLAUSES INCLUDED AND NO SUSTAINABILITY INCLU
2,MSFT,CONT_AWD_HC102818F0119_9700_HC102817D0001_9700,SUPPORT- PROFESSIONAL: ENGINEERING/TECHNICAL,541512.000,COMPUTER SYSTEMS DESIGN SERVICES,UNITED STATES,NOT A MANUFACTURED END PRODUCT,NOT REQUIRED,NO CLAUSES INCLUDED AND NO SUSTAINABILITY INCL...
3,MSFT,CONT_AWD_N0016423FS027_9700_N6600119D0019_9700,SUPPORT- PROFESSIONAL: ENGINEERING/TECHNICAL,541511.000,CUSTOM COMPUTER PROGRAMMING SERVICES,UNITED STATES,NOT A MANUFACTURED END PRODUCT,NOT REQUIRED,NO CLAUSES INCLUDED AND NO SUSTAINABILITY INCL...
4,MSFT,CONT_AWD_HC102818F0847_9700_HC102817D0001_9700,SUPPORT- PROFESSIONAL: ENGINEERING/TECHNICAL,541512.000,COMPUTER SYSTEMS DESIGN SERVICES,UNITED STATES,NOT A MANUFACTURED END PRODUCT,NOT REQUIRED,NO CLAUSES INCLUDED AND NO SUSTAINABILITY INCL...

In [11]:
df_entities = sov.data("spending/entities", tickers=["MSFT","TSLA"])

In [12]:
df_entities.tail()

,ticker,recipient_uei,recipient_parent_uei,recipient_name,recipient_parent_name,names,similarity,bloomberg_share_id
0,MSFT,FMVPEWNJGLM1,FMVPEWNJGLM1,MICROSOFT CORPORATION,MICROSOFT CORPORATION,MICROSOFT CORPORATION,1.000,BBG001S5TD05
1,TSLA,WK5RYJL58YY9,WK5RYJL58YY9,"TESLA INDUSTRIES, INC.","TESLA INDUSTRIES, INC.","TESLA INDUSTRIES, INC.",0.956,BBG001SQKGD7

In [13]:
df_location = sov.data("spending/location", tickers=["MSFT","TSLA"])

In [14]:
df_location.tail()

,ticker,contract_award_unique_key,recipient_country_name,recipient_address_line_1,recipient_city_name,recipient_county_name,recipient_state_code,recipient_state_name,recipient_zip_4_code,primary_place_of_performance_country_code,primary_place_of_performance_country_name,primary_place_of_performance_city_name,primary_place_of_performance_county_name,primary_place_of_performance_state_code,primary_place_of_performance_state_name,primary_place_of_performance_zip_4,same_country,same_state
9324,TSLA,CONT_AWD_0542_9700_SPM7MX13D0089_9700,UNITED STATES,109 CENTERPOINT BLVD,NEW CASTLE,NEW CASTLE,DE,DELAWARE,197204180,USA,UNITED STATES,NEW CASTLE,NEW CASTLE,DE,DELAWARE,197204180,1,1
9325,TSLA,CONT_AWD_SPE7M121F0272_9700_SPE7MX18D0028_9700,UNITED STATES,101 109 CENTERPOINT BLVD,NEW CASTLE,NEW CASTLE,DE,DELAWARE,19720,USA,UNITED STATES,NEW CASTLE,NEW CASTLE,DE,DELAWARE,197204180,1,1
9326,TSLA,CONT_AWD_1132_9700_SPM7MX13D0089_9700,UNITED STATES,109 CENTERPOINT BLVD,NEW CASTLE,NEW CASTLE,DE,DELAWARE,197204180,USA,UNITED STATES,NEW CASTLE,NEW CASTLE,DE,DELAWARE,197204180,1,1
9327,TSLA,CONT_AWD_SPE7L723P2381_9700_-NONE-_-NONE-,UNITED STATES,101 109 CENTERPOINT BLVD,NEW CASTLE,NEW CASTLE,DE,DELAWARE,19720,USA,UNITED STATES,NEW CASTLE,NEW CASTLE,DE,DELAWARE,197204180,1,1
9328,TSLA,CONT_AWD_SPE7LX20F734X_9700_SPE7LX18D0042_9700,UNITED STATES,101 109 CENTERPOINT BLVD,NEW CASTLE,NEW CASTLE,DE,DELAWARE,19720,USA,UNITED STATES,NEW CASTLE,NEW CASTLE,DE,DELAWARE,197204180,1,1

In [15]:
df_competition = sov.data("spending/competition", tickers=["MSFT","TSLA"])

In [16]:
df_competition.head()

,ticker,contract_award_unique_key,extent_competed,number_of_offers_received,solicitation_procedures
0,TSLA,CONT_AWD_1187_9700_SPM7MX13D0089_9700,NOT AVAILABLE FOR COMPETITION,1.000,ONLY ONE SOURCE
1,MSFT,CONT_AWD_15DDTR19P00000107_1524_-NONE-_-NONE-,COMPETED UNDER SAP,4.000,SIMPLIFIED ACQUISITION
2,MSFT,CONT_AWD_DJJ26080054_1501_DJJ15C2608_1501,FULL AND OPEN COMPETITION AFTER EXCLUSION OF S...,6.000,NEGOTIATED PROPOSAL/QUOTE
3,MSFT,CONT_AWD_W91RUS19F0133_9700_N6600119D0019_9700,NOT COMPETED,NaN,ONLY ONE SOURCE
4,MSFT,CONT_AWD_X004_9700_W91QUZ09D0038_9700,NOT COMPETED,1.000,ONLY ONE SOURCE

In [17]:
# df_product = sov.data("spending/product", tickers=["MSFT","TSLA"])
df_compensation = sov.data("spending/compensation")

In [18]:
df_compensation.head()

,ticker,date,recipient_uei,recipient_name,recipient_parent_name,highly_compensated_officer_1_name,highly_compensated_officer_1_amount,highly_compensated_officer_2_name,highly_compensated_officer_2_amount,highly_compensated_officer_3_name,highly_compensated_officer_3_amount,highly_compensated_officer_4_name,highly_compensated_officer_4_amount,highly_compensated_officer_5_name,highly_compensated_officer_5_amount
6272,ACCA,2018-10-31,K5TBNBLVG1F8,"ID TECHNOLOGIES, LLC",ACACIA INVESTMENT HOLDINGS LLC,CHRISTOPHER OLIVER,485518.125,DYLAN CONNER,820596.250,GAVIN LONG,519297.125,JEFFERY PANEBIANCO,818678.125,THOMAS BRADY,365064.812
6273,ACCA,2018-11-30,K5TBNBLVG1F8,"ID TECHNOLOGIES, LLC",ACACIA INVESTMENT HOLDINGS LLC,CHRISTOPHER OLIVER,456786.875,DYLAN CONNER,945453.562,MATTHEW OBRIEN,596608.500,JEFFERY PANEBIANCO,984382.438,THOMAS BRADY,386397.406
6274,ACCA,2018-12-31,K5TBNBLVG1F8,"ID TECHNOLOGIES, LLC",ACACIA INVESTMENT HOLDINGS LLC,CHRISTOPHER OLIVER,511299.344,DYLAN CONNER,723900.938,TIMOTHY HEALY,460859.844,BRYAN COURTRIGHT,686385.812,MATTHEW OBRIEN,344808.719
6275,ACCA,2019-01-31,K5TBNBLVG1F8,"ID TECHNOLOGIES, LLC",ACACIA INVESTMENT HOLDINGS LLC,CHRISTOPHER OLIVER,543102.375,DYLAN CONNER,719951.438,GAVIN LONG,461093.500,JEFFERY PANEBIANCO,671943.938,THOMAS BRADY,317616.844
6276,ACCA,2019-02-28,K5TBNBLVG1F8,"ID TECHNOLOGIES, LLC",ACACIA INVESTMENT HOLDINGS LLC,CHRISTOPHER OLIVER,513977.625,DYLAN CONNER,754325.000,GAVIN LONG,483182.219,JEFFERY PANEBIANCO,717067.188,THOMAS BRADY,340049.531

In [20]:
df_compensation.tail()

,ticker,date,recipient_uei,recipient_name,recipient_parent_name,highly_compensated_officer_1_name,highly_compensated_officer_1_amount,highly_compensated_officer_2_name,highly_compensated_officer_2_amount,highly_compensated_officer_3_name,highly_compensated_officer_3_amount,highly_compensated_officer_4_name,highly_compensated_officer_4_amount,highly_compensated_officer_5_name,highly_compensated_officer_5_amount
8816,None,2023-12-31,PK35MEQEASD5,"HEXAGON US FEDERAL, INC",HEXAGON AB,TAMMER M OLIBAH,883864.000,CHRISTOPHER BELLIOS,482438.000,REBECCA D HARRIS,397637.000,LEONARD LEASSEAR,315195.000,CHRISTOPHER REICHERT,310268.000
9263,None,2023-12-31,QEAYP7YMCXZ7,"PRECISE SOFTWARE SOLUTIONS, INC.","IDERA, INC.",ZHENSEN HUANG,330000.000,None,NaN,None,NaN,None,NaN,None,NaN
12331,None,2023-12-31,WSUMT2ADVGJ1,EXECUTIVE PROTECTION SYSTEMS LLC,SENECA HOLDINGS LLC,WARREN KMETZ,243767.000,DAVID MORGAN,177581.000,JOHN HOKE,173266.000,LORI FERNANDES,173039.000,GERARD MCGUIRE,161177.000
13969,None,2023-12-31,ZZRPFWN91KD1,"AT&T TECHNICAL SERVICES COMPANY, INC",AT&T INC.,STACY SCHWARTZ,976553.000,JILL SINGER,1013555.000,RICHARD DURAND,562876.000,ELLEN FLOYD,616949.000,KNUTE OLSON,732354.000
7904,None,2024-01-31,MWDRZJ2ZVPV7,"GENERAL DYNAMICS MISSION SYSTEMS, INC.",GENERAL DYNAMICS CORPORATION,CHRISTOPHER BRADY,3457789.000,WILIAM WEISS,1157986.000,SCOTT BUTLER,1120301.000,BO ELAM,1064926.000,NADIA SHORT,1023423.000

In [21]:
df_contracts

,ticker,date,contract_award_unique_key,potential_total_value_of_award,total_federal_action_obligation,obligation_value_difference,performance_duration,awards_past_year,transactions_per_award,prime_award_base_transaction_description,period_of_performance_start_date,period_of_performance_current_end_date,period_of_performance_potential_end_date,extension_days_available,time_to_start_performance,modification_number,last_modified_date,recipient_name,recipient_uei
1867598,AMZN,2008-04-03,CONT_AWD_V539Q83103_3600_-NONE-_-NONE-,412.500,412.500,0.000,10.000,787.000,1.000,BOOKS FOR LDI GROUP,2008-04-03,2008-04-13,2008-04-13,0.000,0.000,0,2008-04-28,AMAZON.COM LLC,QG1JGL2Z3UC1
1881332,AMZN,2008-04-03,CONT_AWD_V539Q83101_3600_-NONE-_-NONE-,254.250,254.250,0.000,10.000,787.000,1.000,25 BOOKS FOR THE LDI GROUP AT $10.17 A BOOK.,2008-04-03,2008-04-13,2008-04-13,0.000,0.000,0,2008-04-28,AMAZON.COM LLC,QG1JGL2Z3UC1
1894693,AMZN,2008-04-04,CONT_AWD_V578R84027_3600_-NONE-_-NONE-,441.750,441.750,0.000,10.000,787.000,1.000,BOOK: DIAGNOSTIC AND STATISTICAL MANUAL OF ME...,2008-04-04,2008-04-14,2008-04-14,0.000,0.000,0,2008-05-05,AMAZON.COM LLC,QG1JGL2Z3UC1
1941755,AMZN,2008-04-09,CONT_AWD_V539Q83259_3600_-NONE-_-NONE-,70.380,70.380,0.000,10.000,787.000,1.000,"VESTIBULAR REHABILITATION. 3RD ED, 2007",2008-04-09,2008-04-19,2008-04-19,0.000,0.000,0,2008-04-10,AMAZON.COM LLC,QG1JGL2Z3UC1
1961395,AMZN,2008-04-11,CONT_AWD_V539Q83290_3600_-NONE-_-NONE-,39.950,39.950,0.000,10.000,787.000,1.000,AMAZON.COM LLC,2008-04-11,2008-04-21,2008-04-21,0.000,0.000,0,2008-04-11,AMAZON.COM LLC,QG1JGL2Z3UC1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
15654,TSLA,2023-10-02,CONT_AWD_SPE7LX24F0359_9700_SPE7LX22D0144_9700,8526.630,8526.630,0.000,30.000,7.000,1.000,8510186794!BATTERY POWER SUPPLY,2023-10-02,2023-11-01,2023-11-01,0.000,0.000,0,2023-10-02,"TESLA INDUSTRIES, INC.",WK5RYJL58YY9
15772,TSLA,2023-10-02,CONT_AWD_SPE7LX24F0120_9700_SPE7LX22D0144_9700,6992.460,6992.460,0.000,30.000,7.000,1.000,8510185077!BATTERY POWER SUPPL,2023-10-02,2023-11-01,2023-11-01,0.000,0.000,0,2023-10-02,"TESLA INDUSTRIES, INC.",WK5RYJL58YY9
25420,TSLA,2023-10-02,CONT_AWD_SPE7LX24F0286_9700_SPE7LX22D0144_9700,6992.460,6992.460,0.000,30.000,7.000,1.000,8510185827!BATTERY POWER SUPPL,2023-10-02,2023-11-01,2023-11-01,0.000,0.000,0,2023-10-02,"TESLA INDUSTRIES, INC.",WK5RYJL58YY9
35448,TSLA,2023-10-03,CONT_AWD_SPE7LX24F0559_9700_SPE7LX22D0144_9700,8526.630,8526.630,0.000,30.000,7.000,1.000,8510189365!BATTERY POWER SUPPLY,2023-10-03,2023-11-02,2023-11-02,0.000,0.000,0,2023-10-03,"TESLA INDUSTRIES, INC.",WK5RYJL58YY9
48500,TSLA,2023-10-04,CONT_AWD_SPE7LX24F0835_9700_SPE7LX22D0144_9700,34106.520,34106.520,0.000,30.000,7.000,1.000,8510192842!BATTERY POWER SUPPLY,2023-10-04,2023-11-03,2023-11-03,0.000,0.000,0,2023-10-04,"TESLA INDUSTRIES, INC.",WK5RYJL58YY9

In [22]:
import pandas as pd
import plotly.express as px
import ipywidgets as widgets
from IPython.display import display, clear_output

def create_interactive_plots(df_filtered):
    # Create a dropdown widget for ticker selection
    ticker_dropdown = widgets.Dropdown(
        options=df_filtered['ticker'].unique(),
        value='TSLA',
        description='Ticker:',
    )

    # Create a dropdown widget for plot selection
    plot_dropdown = widgets.Dropdown(
        options=['Cumulative Potential Total Value', 'Dynamic Rolling Average Contract Size'],
        value='Cumulative Potential Total Value',
        description='Select Plot:',
    )

    # Create an output widget for displaying the plot
    output = widgets.Output()

    # Function to update and display the selected plot
    def update_plot(ticker, plot_type):
        # Filter for the selected ticker
        df_ticker = df_filtered[df_filtered['ticker'] == ticker]

        # Ensure action_date is a datetime
        df_ticker.loc[:, 'date'] = pd.to_datetime(df_ticker['date'])

        with output:
            clear_output(wait=True)
            if plot_type == 'Cumulative Potential Total Value':
                # Plot Cumulative Potential Total Value
                df_ticker_monthly = df_ticker.set_index('date').resample('ME')['potential_total_value_of_award'].sum().cumsum().values
                fig = px.line(df_ticker_monthly,
                              title='Cumulative Potential Total Value of Award',
                              labels={'value': 'Cumulative Potential Total Value', 'action_date': 'Date'},
                              markers=True)
                fig.update_xaxes(title_text='Date')
                fig.update_yaxes(title_text='Cumulative Potential Total Value')
            elif plot_type == 'Dynamic Rolling Average Contract Size':
                # Calculate the dynamic rolling window size as 5% of the available contracts
                rolling_window_size = int(len(df_ticker) * 0.05)

                # Calculate rolling average contract size with the dynamic window size
                df_ticker['rolling_average_contract_size'] = df_ticker['potential_total_value_of_award'].rolling(window=rolling_window_size).mean()
                fig = px.line(df_ticker,
                              x='action_date',
                              y='rolling_average_contract_size',
                              title='Dynamic Rolling Average Contract Size',
                              labels={'rolling_average_contract_size': 'Rolling Average Contract Size'},
                              markers=True)
                fig.update_xaxes(title_text='Date')
                fig.update_yaxes(title_text='Rolling Average Contract Size')

            # Remove the legend (variable key) on the right-hand side
            fig.update_traces(showlegend=False)

            # Apply the dark theme
            fig.update_layout(template='plotly_dark')

            # Adjust the height of the plot
            fig.update_layout(height=400)

            return fig

    # Create an interactive widget for updating and displaying the plot
    widgets.interactive(update_plot, ticker=ticker_dropdown, plot_type=plot_dropdown)

    # Define the widget_eventhandler for the ticker and plot dropdowns
    def widget_eventhandler(change):
        nonlocal ticker_dropdown, plot_dropdown
        with output:
            clear_output(wait=True)
            ticker = ticker_dropdown.value
            plot_type = plot_dropdown.value
            fig = update_plot(ticker, plot_type)
            fig.show()

    # Add observers to the dropdowns
    ticker_dropdown.observe(widget_eventhandler, names='value')
    plot_dropdown.observe(widget_eventhandler, names='value')

    # Create an HBox container for the dropdowns
    widgets_container = widgets.HBox([ticker_dropdown, plot_dropdown])

    # Initialize the display
    display(widgets_container, output)
    widget_eventhandler(None)
    # update_plot(ticker_dropdown.value, plot_dropdown.value)

# Call the function with your df_filtered
create_interactive_plots(df_contracts)

HBox(children=(Dropdown(description='Ticker:', index=2, options=('AMZN', 'MSFT', 'TSLA'), value='TSLA'), Dropd…

Output()