In [ ]:
!pip install sovai[full]

## SEC 10-K filings

You can run the following commands to retrieve data (`df`) using `sov.data`:

To fetch the **latest data** for a specific query:

```python
df = sov.data("query")
```

To fetch the **full historical data** for a specific query:

```python
df = sov.data("query", full_history=True)
```

To fetch the **full data** multiple **tickers** or identifiers like **cusip** and **openfigi**:

```python
df = sov.data("query", tickers=["9033434", "IB94343", "43432", "AAPL"])
```

To filter **any dataframe** just write some queries:

```python
df.filter(["cash_short_term > 10m","start with ticker A","negative profits" ])
```

In [2]:
import sovai as sov
import pandas as pd

sov.token_auth(token="visit https://sov.ai/profile for your token")

data = sov.data("sec/10k", tickers=["AAPL"], limit=1)

You don't have to downlaod the entire dataset, instead look at the companies that filed that week, and simply do an analysis of them. Future edits would include sentiment analysis.

In [3]:
data

,cik,ticker,date,company,accession_number,section,order,category,tag,row_id,full_text
0,320193,AAPL,2011-10-26,APPLE INC,0001193125-11-282113,BUSINESS,0,NarrativeText,p,e19f7471d8fb867c5bc0026bc798ad53,Apple Inc. and its wholly-owned subsidiaries (...
1,320193,AAPL,2011-10-26,APPLE INC,0001193125-11-282113,BUSINESS,1,NarrativeText,p,1ce3d4c53620d2d099ab59da4ebc3b9e,The Company is committed to bringing the best ...
2,320193,AAPL,2011-10-26,APPLE INC,0001193125-11-282113,BUSINESS,2,NarrativeText,p,a8eda7d4be126f5088578bb5b355dc0d,The Company believes a high-quality buying exp...
3,320193,AAPL,2011-10-26,APPLE INC,0001193125-11-282113,BUSINESS,3,NarrativeText,p,834e8b74a0fbb0cdd5fd390f1979bfac,The Company’s retail stores are typically loca...
4,320193,AAPL,2011-10-26,APPLE INC,0001193125-11-282113,BUSINESS,4,NarrativeText,p,1e2460c44fe3255902521a729dabc0ae,"Throughout its history, the Company has been c..."
...,...,...,...,...,...,...,...,...,...,...,...
7700,320193,AAPL,2023-11-03,Apple Inc.,0000320193-23-000106,MANAGEMENT,54,NarrativeText,span,0cedd2f8c148b1fc82f4dc0f5c9f35b8,The Company is subject to income taxes in the ...
7701,320193,AAPL,2023-11-03,Apple Inc.,0000320193-23-000106,MANAGEMENT,55,NarrativeText,span,b771b34af4ca51d17d3fbf42777c02c0,The Company is subject to various legal procee...
7702,320193,AAPL,2023-11-03,Apple Inc.,0000320193-23-000106,COMPENSATION,0,NarrativeText,span,f8825199078db1af16a75e19d38c8eff,The information required by this Item will be ...
7703,320193,AAPL,2023-11-03,Apple Inc.,0000320193-23-000106,PRINCIPAL_STOCKHOLDERS,0,NarrativeText,span,f8825199078db1af16a75e19d38c8eff,The information required by this Item will be ...
7704,320193,AAPL,2023-11-03,Apple Inc.,0000320193-23-000106,RELATED_PARTY_TRANSACTIONS,0,NarrativeText,span,f8825199078db1af16a75e19d38c8eff,The information required by this Item will be ...

In [4]:
sov.data("sec/10k", tickers=["META"], limit=1)

,cik,ticker,date,company,accession_number,section,order,category,tag,row_id,full_text
0,1326801,META,2013-02-01,Facebook Inc,0001326801-13-000003,BUSINESS,0,NarrativeText,font,a6145cfc83491272af346a0eae2c3336,We allocate the fair value of purchase conside...
1,1326801,META,2013-02-01,Facebook Inc,0001326801-13-000003,PROPERTIES,0,NarrativeText,font,e0e664ee42b78d089f4ac1248e533e86,"As of December 31, 2012, we leased office and ..."
2,1326801,META,2013-02-01,Facebook Inc,0001326801-13-000003,LEGAL_PROCEEDINGS,0,NarrativeText,font,8ae3ba693a1fbd26c64a636d5c0d7aca,Paul D. Ceglia filed suit against us and Mark ...
3,1326801,META,2013-02-01,Facebook Inc,0001326801-13-000003,LEGAL_PROCEEDINGS,1,NarrativeText,font,0dc121ed1c32cf81c4195c359707ec12,"Beginning on May 22, 2012, multiple putative c..."
4,1326801,META,2013-02-01,Facebook Inc,0001326801-13-000003,LEGAL_PROCEEDINGS,2,NarrativeText,font,322930695bbf6c305a377de61245609b,We are also party to various legal proceedings...
...,...,...,...,...,...,...,...,...,...,...,...
10545,1326801,META,2024-02-02,"Meta Platforms, Inc.",0001326801-24-000012,EXHIBITS,3,NarrativeText,td,efc44904ae01a497b5549538d5938573,"Certification of Susan Li, Chief Financial Off..."
10546,1326801,META,2024-02-02,"Meta Platforms, Inc.",0001326801-24-000012,EXHIBITS,4,NarrativeText,td,83e1d06a719c9d49143c8e856969b30c,"Certification of Mark Zuckerberg, Chief Execut..."
10547,1326801,META,2024-02-02,"Meta Platforms, Inc.",0001326801-24-000012,EXHIBITS,5,NarrativeText,td,7a2dae8e4a37cb40603f71c65bb2a9ed,"Certification of Susan Li, Chief Financial Off..."
10548,1326801,META,2024-02-02,"Meta Platforms, Inc.",0001326801-24-000012,EXHIBITS,6,NarrativeText,span,ed1d31dff6a985dfad8bc386b6c565fd,+ Indicates a management contract or compensat...
10549,1326801,META,2024-02-02,"Meta Platforms, Inc.",0001326801-24-000012,EXHIBITS,7,NarrativeText,span,cce6c86af38a0cefa0517717cf2ea244,# This certification is deemed not filed for p...