In [ ]:
!pip install sovai[full]

## Time Decomposition Notebook

In [2]:
import sovai as sov

sov.token_auth(token="visit https://sov.ai/profile for your token")

In [4]:
# Load ratios - takes around 5 mins to load data 
df_accounting = sov.data("accounting/weekly").select_stocks("mega")

In [5]:
df_time = df_accounting.time_decomposition(method="data", ticker="AAPL", feature="total_revenue"); df_time.tail()

,Observed,Trend,Remainder,Reactive_Trend,Seasonal_seasonal13,Seasonal_seasonal52
date,,,,,,
2024-06-28,90752999424.000,98144815973.924,1884813809.661,Sideways,9282616.086,-9285912975.671
2024-07-05,90752999424.000,98219506238.223,2440955165.676,Sideways,4195880.696,-9911657860.595
2024-07-12,90752999424.000,98295251488.850,3002657118.175,Sideways,-7962474.067,-10536946708.958
2024-07-19,90752999424.000,98372049714.926,3515284784.213,Sideways,-30793564.989,-11103541510.150
2024-07-26,90752999424.000,98449888876.172,3997289699.681,Sideways,-57133449.695,-11637045702.158

In [6]:
df_time.attrs["stats"]

                        Statistic           Value
0                          Ticker            AAPL
1                         Feature   total_revenue
2              Total_Observations            1592
3                 Overall_Average 30851303424.000
4             Overall_Trend_Slope    66987547.118
5         Increasing_Trends_Count             248
6         Decreasing_Trends_Count               0
7           Sideways_Trends_Count            1185
8    Remainder_Standard_Deviation  1430881026.309
9   Seasonal_seasonal13_Amplitude   480711556.766
10  Seasonal_seasonal52_Amplitude 33780541560.652

In [7]:
df_accounting.time_decomposition(method="plot", ticker="AAPL", feature="total_revenue")