In [ ]:
!pip install sovai[full]

## Segmentation Notebook

In [2]:
## To check
import sovai as sov
sov.token_auth(token="visit https://sov.ai/profile for your token")

#### Change Point Detection

In [3]:
df_accounting = sov.data("accounting/weekly").select_stocks("mega")

In [4]:
df_change = df_accounting.change_point(method='data', feature="book_equity_value"); df_change.tail(10)

Ticker and/or feature not provided. We will choose on your behalf.
Selected ticker: AAPL

,Date,Trend,Signal_Value,CUSUM_Score,Duration,Duration_Days,Percent_Change
19,2016-05-27,Increasing,88253693952.000,85.239,427 days,427,36.106
20,2017-07-28,Increasing,120118460416.000,86.671,378 days,378,23.908
21,2018-08-10,Increasing,148836007936.000,88.884,378 days,378,2.943
22,2019-08-23,Sideways,153216237568.000,69.637,371 days,371,2.909
23,2020-08-28,Sideways,157672849408.000,80.844,210 days,210,-0.364
24,2021-03-26,Sideways,157099147264.000,12.598,574 days,574,8.796
25,2022-10-21,Increasing,170917380096.000,96.382,210 days,210,-2.094
26,2023-05-19,Sideways,167337918464.000,5.285,210 days,210,1.694
27,2023-12-15,Sideways,170172694528.000,16.386,210 days,210,-0.924
28,2024-07-12,Sideways,168600993792.000,2.797,0 days,0,0.000

In [5]:
df_change.attrs['stats']

                 Statistic              Value
0                   Ticker               AAPL
1                  Feature  book_equity_value
2      Total_Change_Points                 29
3    Average_Duration_Days            338.414
4   Average_Percent_Change             43.111
5        Increasing_Trends                  9
6        Decreasing_Trends                  8
7          Sideways_Trends                 12
8          Max_CUSUM_Score             96.382
9          Min_CUSUM_Score              0.100
10             Window_Size                 79

In [36]:
df_accounting.change_point(method='plot')

Ticker and/or feature not provided. We will choose on your behalf.
Selected ticker: AAPL
Selected feature: cash_short_term

### Regime Change

In [7]:
rc_result = df_accounting.regime_change(method="data", ticker="AAPL", feature="total_revenue"); rc_result.tail(10)

,Start_Date,End_Date,Duration_Days,Start_Value,End_Value,Percent_Change,Trend,Color
0,1994-01-28,2009-12-18,5803,2468854016.000,13000077312.000,426.563,Increasing,#008000
1,2009-12-25,2011-11-18,693,13447230464.000,32438384640.000,141.227,Increasing,#008000
2,2011-11-25,2014-11-07,1078,33827846144.000,44621152256.000,31.907,Increasing,#62cb62
3,2014-11-14,2020-11-20,2198,47119306752.000,75484381184.000,60.198,Increasing,#39ac39
4,2020-11-27,2024-07-19,1330,79079849984.000,90752999424.000,14.761,Increasing,#7bde7b

In [8]:
rc_result.attrs['stats']

                Statistic          Value
0                  Ticker           AAPL
1                 Feature  total_revenue
2           Total_Regimes              5
3   Average_Duration_Days       2220.400
4  Average_Percent_Change        134.931
5       Increasing_Trends              5
6       Decreasing_Trends              0
7         Sideways_Trends              0

In [26]:
df_accounting.regime_change(method="plot", ticker="AAPL", feature="total_revenue")

### Comprehensive Regime

In [10]:
pca_rc_result = df_accounting.pca_regime_change(method="data", ticker="AAPL"); pca_rc_result.tail()

,Start_Date,End_Date,Duration_Days,Color,PCA_Start,PCA_End,PCA_Change
12,2015-06-26,2016-01-15,203,orange,2.519,1.766,-0.753
13,2016-01-22,2019-10-11,1358,blue,2.913,0.253,-2.660
14,2019-10-18,2022-06-17,973,orange,-0.298,0.589,0.887
15,2022-06-24,2022-12-09,168,blue,0.832,-1.138,-1.970
16,2022-12-16,2024-07-19,581,orange,-0.959,-1.898,-0.939

In [11]:
pca_rc_result.attrs['stats']

               Statistic   Value
0                 Ticker    AAPL
1          Total_Regimes      17
2  Average_Duration_Days 622.588
3     Average_PCA_Change  -0.372
4            Window_Size      63

In [33]:
df_accounting.pca_regime_change(method="plot", ticker="AAPL")